.App {
  text-align: center;
}

/* change bootstrap primary color */
.btn-primary {
  color: #000 !important;
  background-color: #f3b0ff !important;
  border-color: #f3b0ff !important;
}

.color-pink {
  color: #f3b0ff !important;
}
